<footer class="container-fluid bg-grey py-5">
    <div class="container">
       <div class="row">
          <div class="col-md-8">
             <div class="row">
                <div class="col-md-6 ">
                   <div class="logo-part">
                      <img [src]="'assets/logo_donmundo.jpg'" class="w-50 logo-footer" >
                      <p>González Ortega 102, Col la Rivera, 73080 Xicotepec de Juárez, Pue.</p>
                      <p>Lunes a Viernes de 9:00 - 19:00</p>
                      <p>Domingo de 10:00 - 18:00</p>
                   </div>
                </div>
                <div class="col-md-6 px-4">
                    <div class="logo-part">
                   <h6> Acerca del restaurante</h6>
                   <p>El Chorizo Ahumado elaborado de Pierna de Cerdo cocinado con Leña Debes de Probarlo. su Sabor es ÚNICO y ¡Ya es una tradición en Xicotepec!</p>
                </div>
            </div>
             </div>
          </div>
          <div class="col-md-4">
            <div class="row">
               <div class="col-md-4 ">
                  <h6> Síguenos en:</h6>
                  <div class="social">
                     <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                     <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
    </footer>