<div class="container">
<div class="card mb-3" style="width: 100%; border-width: 0px; margin-top: 200px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="'assets/logo_negro.png'" class="card-img" alt="..." style="margin-top: 10px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">

                <h4 class="card-title">QUIENES SOMOS</h4>
                <br>
                <p class="card-text" style="text-align: justify; font-size: 20px; font-weight: bold;">
                    <strong>Cocina impulsada por fuego “Brasa y Fuego”, “Fuego y Carbón”.</strong> <br> Estos elementos impulsan nuestra cocina y mantienen nuestra comida honesta y sabrosa. Parrilladas Don Mundo por sus 20 años de servicio. Y preservadores
                    del legado de la conservación de las carnes por medio del humo, herencia de 4 generaciones y que fue adquirido el oficio del sacerdote Hermelindo Anaya para la familia Rangel Nájera. Que vengan muchos años más y también heredando su
                    legado a las siguientes generaciones</p>
            </div>
        </div>
    </div>
</div>
</div>
<section data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                             <h4>Mira Nuestra Historia</h4>
                             <h2>Hemos llevado el sabor delicioso de las parrilladas desde el año 2000</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                             <p>El 28 de Septiembre del Año 2000, el Joven Emprendedor, Edmundo García Vite, abre por primera vez un Establecimiento de Comida, Llamado en un inicio como "Tacos Mundo".</p>
                             <p>
                                Como parte de una Herencia Familiar desde en ese entonces por más de 50 años en la Elaboración del Tradicional Chorizo Ahumado, Pollo y Carnes Ahumadas, heredado por el trabajo incansable de sus padres el Sr. Edmundo García Rangel y la Sra. Cristina Vite Carrasco en su ya Tradicional Restaurante "Merendero Mundo", es como nace con la visión de Colocarse como uno de los Atractivos e Icónicos lugares para degustar de la Tipica Gastronomía de la Sierra Norte de Puebla.
                             </p>
                             <p>Ubicado en la Ciudad de Xicotepec de Juárez, a través de los años se crea lo que hoy en día conocemos como el Restaurante "Parrilladas Don Mundo", ¡El Rancherísimo Sabor a la Parrilla!</p>
                             <p>¡¡Siguenos para Conocer un poco más de la Tradiciòn del Chorizo Ahumado y las Carnes Ahumadas!!  <a href="https://www.facebook.com/hashtag/20a%C3%B1osdeparrilladasdonmundo?__eep__=6&__cft__[0]=AZWvWvGBTXZkgGi91V2wxN8ICYXq-WEp4aYnkMvM2IVL-OcYFf_KDX_UFM542np8myYTfpMjNcHD3C_Z_XhhMxjlSztrRawVm99lQ_ZPU2cnaASyyAMRjxNWryv59jfZH_S-9Kns3busvKWHYkYPDARBtE7zX8Yhj5AwMwX68c2wjXqC_XEV2Md1Z_RkDm7ztHY&__tn__=*NK-R" target="_parent">#20añosdeparrilladasdonmundo</a>. GRACIAS.</p>
                        </div>
                   </div>
              </div>

              <div class="col-md-6 col-sm-12">
                   <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                        <img [src]="'assets/PDM.jpg'" class="img-responsive" alt="">
                   </div>
                   <br>
                   <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                        <img [src]="'assets/PDM2.jpg'" class="img-responsive" alt="">
                   </div>
              </div>

         </div>
    </div>
</section>
<br>