<div class="container" style="margin-top: 190px;">
    <div class=" text-center mt-5 ">
        <h1>Reserva tu Mesa!!</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form [formGroup]="contacForm" (ngSubmit)="agregar()" id="contact-form" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_lastname">Nombre (s) *</label>
                                            <input class="form-control" formControlName="firstname" type="text" name="nombre" placeholder="Ingresa tu nombre">
                                        </div>
                                        <div class="alert alert-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
                                            <div class="container-error-message" *ngIf="firstname.errors.required">
                                                Nombre obligatorio
                                            </div>
                                            <div class="container-error-message" *ngIf="firstname.errors.minlength">
                                                Nombre tiene que ser mayor a 4 caracteres
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_lastname">Apellidos *</label>
                                            <input type="text" formControlName="surname" name="surname" class="form-control" placeholder="Ingresa tus Apellidos" required>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                                            <div class="container-error-message" *ngIf="surname.errors.required">
                                                Apellidos es obligatorio
                                            </div>
                                            <div class="container-error-message" *ngIf="surname.errors.minlength">
                                                Apellidos tiene que ser mayor a 8 caracteres
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">Email </label> <input type="email" formControlName="email" name="email" class="form-control" placeholder="Ingresa tu email" required>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                                            <div class="container-error-message" *ngIf="email.errors.required">
                                                Email es obligatorio
                                            </div>
                                            <div class="container-error-message" *ngIf="email.errors.minlength">
                                                Email tiene que ser mayor a 11 caracteres
                                            </div>
                                            <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                                                Email no tiene un formato valido, verificalo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_number">Número de telefono *</label>
                                            <input id="form_number" type="number" formControlName="number" name="number" class="form-control" placeholder="Ingresa tu número de telefono *" minlength="10" maxlength="10" required>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="number.invalid && (number.dirty || number.touched)">
                                            <div class="container-error-message" *ngIf="number.errors.required">
                                                Numero de Telefono es obligatorio
                                            </div>
                                            <div class="container-error-message" *ngIf="number.errors.minlength">
                                                Numero de telefono tiene que ser mayor a 10 caracteres
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"><label for="form_time">Fecha *</label> <input type="date" formControlName="fecha" name="time" class="form-control" placeholder="Ingresa la fecha *" required></div>
                                        <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                                            <div class="container-error-message" *ngIf="fecha.errors.required">
                                                Fecha es obligatoria
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_hour">Hora *</label> <select name="hour" formControlName="hora" class="form-control" required>
                                                <option value="" selected disabled>Seleciona la Hora</option>
                                                <option value="9:00">9:00</option>
                                                <option value="10:00">10:00</option>
                                                <option value="11:00">11:00</option>
                                                <option value="12:00">12:00</option>
                                                <option value="13:00">13:00</option>
                                                <option value="14:00">14:00</option>
                                                <option value="15:00">15:00</option>
                                                <option value="17:00">17:00</option>
                                            </select> </div>
                                        <div class="alert alert-danger" *ngIf="hora.invalid && (hora.dirty || hora.touched)">
                                            <div class="container-error-message" *ngIf="hora.errors.required">
                                                Hora es obligatoria
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_mesa">Mesa*</label> <select name="mesa" formControlName="mesa" class="form-control" required>
                                            <option *ngFor="let mesas of mesasDisponible; let indice=index">{{mesas.numeroMesa}}</option>
                                         </select> </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_person">¿ Mesa Para ?*</label> <input type="number" formControlName="personas" name="person" class="form-control" placeholder="Seleccione el número de personas para la reservación" min="1" max="10"
                                                required> </div>
                                        <div class="alert alert-danger" *ngIf="personas.invalid && (personas.dirty || personas.touched)">
                                            <div class="container-error-message" *ngIf="personas.errors.required">
                                                El Numero de personas es obligatorio
                                            </div>
                                            <div class="container-error-message" *ngIf="personas.errors.minlength">
                                                El numero de personas tiene que ser mayor a 1 caracteres
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_message">Detalles de Reservación
                      </label> <textarea formControlName="detalles" name="message" class="form-control" placeholder="¿Alguna atención especial? Escríbalo" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 justify-content-center"> <button type="submit" class="btn btn-success btn-block center-block ">Reservar ahora</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <!-- /.8 -->
        </div>
        <!-- /.row-->
    </div>
</div>